footer {
  position: relative;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  border-top: 1px solid var(--black);
  padding-top: 20px;
  align-items: center;
  height: auto;
}

.footer-logo {
  width: 10%;
  opacity: 1;
}

.footer-p {
  font-size: var(--font-size-small);
  color: var(--blue);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer-icons {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--blue);
}
