@import url(_variables.css);

.header {
  position: fixed;
  z-index: 1;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.header-logo {
  width: 15%;
  opacity: 1;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.header-nav--li {
  font-weight: bold;
  font-size: var(--font-size-medium);
  color: var(--blue);
}

.header-nav--li--active {
  color: var(--yellow);
}

.header-icons {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--blue);
}
