<section class="header">
  <img src="assets/img/logo.svg" alt="" class="header-logo" />
  <nav>
    <ul class="header-nav">
      <li class="header-nav--li header-nav--li--active">Início</li>
      <li class="header-nav--li">Projetos</li>
      <i class="fa-brands fa-instagram header-icons"></i>
      <i class="fa-brands fa-facebook header-icons"></i>
      <i class="fa-brands fa-whatsapp header-icons"></i>
      <i class="fa-solid fa-envelope header-icons"></i>
      <button class="button">Contato</button>
    </ul>
  </nav>
</section>
